# Dependências do Node.js
node_modules

# Arquivos de log
logs
*.log
npm-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
obs/fundos/exemplos.zip
assets/text.png
assets/music.png
assets/bible.png
obs/fundos/bible.png
obs/fundos/music.png
obs/fundos/text.png
obs/fundos/modelo2024.zip
Requisitos a implementar.txt
